.page-wrapper {
  position: relative;
  z-index: 0;
  background-image: url(../assets/bg-image.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.page-wrapper .hero-section-wrapper {
  max-width: 1425px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.page-wrapper .hero-section-wrapper .hero-section-inner {
  display: flex;
  align-items: center;
}
.page-wrapper .hero-section-wrapper .hero-section-inner .left-text p {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 600;
  color: #764AF1;
  margin-bottom: 30px;
}
.page-wrapper .hero-section-wrapper .hero-section-inner .left-text .detail-p {
  font-size: 20px;
  line-height: 2;
  font-weight: 400;
  color: #6B6B6B;
  margin-bottom: 0;
  margin-bottom: 53px;
}
.page-wrapper .hero-section-wrapper .hero-section-inner .left-text h1 {
  font-size: 64px;
  line-height: normal;
  color: #1E1926;
  font-weight: 700;
  margin-bottom: 27px;
}
.page-wrapper .hero-section-wrapper .hero-section-inner .left-text h1 span {
  color: #F32424;
}
.page-wrapper .hero-section-wrapper .hero-section-inner .left-text .btn-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.page-wrapper .faqs-wrapper {
  max-width: 1430px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-wrapper .faqs-wrapper .faqs-text {
  max-width: 712px;
  width: 100%;
}
.page-wrapper .faqs-wrapper .faqs-text p {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 15px;
  color: var(--main-color-one);
}
.page-wrapper .faqs-wrapper .faqs-text h2 {
  font-size: 45px;
  line-height: 1.34;
  font-weight: 600;
  margin-bottom: 14px;
  position: relative;
  z-index: 0;
  margin-bottom: 0;
}
.page-wrapper .faqs-wrapper .faqs-text strong {
  font-size: 24px;
  line-height: 1.67;
  font-weight: 600;
  margin-bottom: 65px;
}
.page-wrapper .faqs-wrapper .faqs-text strong:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 2px;
  background: #FFC44E;
}
.page-wrapper .faqs-wrapper .faqs-questions {
  max-width: 712px;
  width: 100%;
}
.page-wrapper .footer-wrapper-inner {
  background-color: #1E1926;
  padding-top: 140px;
}
.page-wrapper .footer-wrapper-inner .news-letter-wrapper {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
}
.page-wrapper .footer-wrapper-inner .news-letter-wrapper .news-detail {
  display: flex;
  align-items: center;
  gap: 40px;
}
.page-wrapper .footer-wrapper-inner .news-letter-wrapper .news-detail .icon {
  width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  border-radius: 50%;
  background: #764AF1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.page-wrapper .footer-wrapper-inner .news-letter-wrapper .news-detail .subscribe-news {
  max-width: 455px;
  width: 100%;
}
.page-wrapper .footer-wrapper-inner .news-letter-wrapper .news-detail .subscribe-news h3 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 10px;
}
.page-wrapper .footer-wrapper-inner .news-letter-wrapper .news-detail .subscribe-news p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
}
.page-wrapper .footer-wrapper-inner .news-letter-wrapper .news-search-form {
  display: flex;
  width: 645px;
}
.page-wrapper .footer-wrapper-inner .news-letter-wrapper .news-search-form input {
  height: 80px;
  width: 100%;
  background: #fff;
  border-radius: 20px 0px 0px 20px;
  border: 0px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 20px;
}
.page-wrapper .footer-wrapper-inner .news-letter-wrapper .news-search-form .new-letter-btn {
  height: 80px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  max-width: 188px;
  width: 100%;
  background-color: #F32424;
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 80px;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-wrapper .footer-wrapper-inner .footer-detail-wrapper {
  border-top: 1px solid rgba(228, 228, 228, 0.1803921569);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  max-width: 1430px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.page-wrapper .footer-wrapper-inner .footer-detail-wrapper .footer-detail-box h4 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 0;
  z-index: 0;
}
.page-wrapper .footer-wrapper-inner .footer-detail-wrapper .footer-detail-box ul {
  list-style: none;
  padding: 0px;
}
.page-wrapper .footer-wrapper-inner .footer-detail-wrapper .footer-detail-box ul li {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.page-wrapper .footer-wrapper-inner .footer-detail-wrapper .footer-detail-box ul li:hover {
  text-decoration: none;
  color: #764AF1;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */